*{
    padding:0;
    margin:0;
}
header, nav, footer{
    background-color: rgb(6, 21, 104);
}
header {
    padding: 10px 20px;
    height: 20px;
}
header h1, ul{
    display:inline;
}
header h1 {
    line-height: 20px;
}
header ul{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 20px;
}
header a {
    text-decoration: none;
    color: aliceblue;
}